@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Titillium+Web&display=swap');
body{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Titillium Web', sans-serif;   
}
